<% provide(:title, 'Edit Profile') %>
<div class="form content">
    <h1 class="text-center">Edit your profile</h1>
    <div class="container">
        <%= form_for(@user) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control mb-4" %>

            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control mb-4" %>

            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control mb-4" %>

            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control mb-4" %>

            <%= f.submit "Save Changes", Class: "btn btn-block btn-success mt-4" %>
        <% end %>
    </div>
</div>